# Node
node_modules
npm-debug.log
pnpm-debug.log
yarn-error.log

# Build output
dist
*.tsbuildinfo

# Env
.env
.env.*.local

# IDE / Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml